@font-face {
     font-family: DidaticGothic;
     src: url('DidactGothic-Regular.ttf');
}

@font-face{
	font-family: leelawadee;
	src: url('leelawadee-ui-semilight-normal.ttf');
}

html{
	width: 100%;
	height: 100%;
}

body{
	margin: 0px;
	width: 100%;
	height: 100%;
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 0px;
/*	margin-left: 20px;
	margin-right: 20px;*/
}

.parallax{
	/* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#black-overlay{
	background-color: #e8e5e5c9;
	opacity: 0.0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

#bloco{ /*esse bloco contém as duas classes abaixo*/
	width: 100%;
	height: 100%;
	display: inline-flex;
}

.logoImg{
	width: 11%;
	justify-content: flex-start;
	margin-left: 20px;
	z-index: 100;
}

.links{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 20px;
	font-size: 13.5px;
	font-family: DidaticGothic;
	color: #393434;
	z-index: 100;
}

.bannerImg{
	background-image: url("img/Site_Capa01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 80%;
	margin: 0px;
}

.conteudo{
	font-size: 13.5px;
	font-family: DidaticGothic;
	width: 100%;
	text-align: center;
	background: #F9F9F9;
	padding-top: 25px;
	padding-bottom: 25px;
}

.conteudo > p{
	width: 50%;
	/*text-align: center;*/
	margin: auto;
}

.conteudo > h3{
	margin: 0;
	padding-bottom: 25px;
	font-size: 25px;
	font-weight: normal;
}

.button{
    background-color: #32BF65;
    border: none;
    font-weight: 550;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#fundoImg1{
	z-index: -1;
	background-image: url("img/01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 45%;
	margin: 0px;
}

/*Formatação dos links*/
a{
	text-decoration: none;
	color: #393434;
}

a:link{
	text-decoration: none;
	color: #393434;
}

a:visited{
	color: #393434;
}

a:hover{
	color: #393434;
}

a:active{
	text-decoration: none;
	color: #393434;
}